<a href="https://colab.research.google.com/github/jakekrafczyk/Real-Estate-Analysis/blob/main/dlqt_list_filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from google.colab import files
upload = files.upload()

Saving search_allegheny_1500to2000.csv to search_allegheny_1500to2000.csv

In [2]:
df = pd.read_csv('search_allegheny_1500to2000.csv',index_col=0)
print(df.shape)
df.head()

(852, 14)

                  ID                      Owner  ...  Yr_Bought   Owner_Code
28  0001M00055000100    FORT PITT ASSOCIATES LP  ...   5/1/2014  Corporation
32      0002G0002500   WILLIAMS SAL & IRENE (W)  ...        NaN          NaN
33      0002G0002600  WILLIAMS SAL  & IRENE (W)  ...        NaN          NaN
58      0011E0000900               WILLIAMS SAL  ...        NaN          NaN
91      0011J0027300               RENNER RENEE  ...  9/22/2009      Regular

[5 rows x 14 columns]

In [3]:
results_sub = df[df['2020_Status'].notnull()]
results_sub = results_sub[results_sub['2020_Status'] != 'ParcelIDNotValid']
print(results_sub.shape)
results_sub.head()

(276, 14)

                   ID                    Owner  ...  Yr_Bought   Owner_Code
28   0001M00055000100  FORT PITT ASSOCIATES LP  ...   5/1/2014  Corporation
91       0011J0027300             RENNER RENEE  ...  9/22/2009      Regular
153      0002A0004700          COON VICTORIA T  ...        NaN      Regular
255      0002D0041200             JACKSON RUTH  ...  12/2/1976      Regular
306  0009M00259001000            MAYS HAROLD W  ...  6/16/1989      Regular

[5 rows x 14 columns]

In [4]:
results_sub['Yr_Bought'] = results_sub.Yr_Bought.replace(np.NaN, '9999')
results_sub.head()

                   ID                    Owner  ...  Yr_Bought   Owner_Code
28   0001M00055000100  FORT PITT ASSOCIATES LP  ...   5/1/2014  Corporation
91       0011J0027300             RENNER RENEE  ...  9/22/2009      Regular
153      0002A0004700          COON VICTORIA T  ...       9999      Regular
255      0002D0041200             JACKSON RUTH  ...  12/2/1976      Regular
306  0009M00259001000            MAYS HAROLD W  ...  6/16/1989      Regular

[5 rows x 14 columns]

In [5]:
results_sub['Year'] = 0

for i in results_sub.index:
  results_sub.loc[i,'Year'] = int(results_sub.loc[i, 'Yr_Bought'][-4:])

results_sub.head()

                   ID                    Owner  ...   Owner_Code  Year
28   0001M00055000100  FORT PITT ASSOCIATES LP  ...  Corporation  2014
91       0011J0027300             RENNER RENEE  ...      Regular  2009
153      0002A0004700          COON VICTORIA T  ...      Regular  9999
255      0002D0041200             JACKSON RUTH  ...      Regular  1976
306  0009M00259001000            MAYS HAROLD W  ...      Regular  1989

[5 rows x 15 columns]

In [6]:
results_sub.Year.value_counts()

2018    13
2008    13
2016    12
2007    11
2006    11
2015    10
2014    10
2013    10
2017     9
2005     9
2009     9
2004     8
2019     7
2003     7
2010     7
1993     6
2011     6
2002     6
1991     6
1996     6
2012     6
1985     5
1983     5
2000     5
1998     5
1994     5
1990     4
1992     4
1995     4
1977     3
1974     3
1979     3
1982     3
1966     3
1984     3
2020     3
1986     3
1989     3
2001     3
1999     3
1988     3
1971     2
1968     2
1978     2
1975     2
1987     2
1926     1
1955     1
1957     1
1959     1
1980     1
1969     1
1981     1
1972     1
1976     1
1997     1
9999     1
Name: Year, dtype: int64

In [7]:
results_sub = results_sub[results_sub.Year < 2000]
results_sub.shape

(100, 15)

In [8]:
results_sub['Mkt_Value'] = results_sub['Mkt_Value'].replace('\$|,', '', regex=True)
results_sub['Mkt_Value'] = pd.to_numeric(results_sub['Mkt_Value'])
results_sub = results_sub[results_sub.Mkt_Value < 370000]
results_sub.shape

(100, 15)

In [9]:
results_sub = results_sub[results_sub.Mkt_Value > 100000]
results_sub.shape

(33, 15)

In [10]:
results_sub

                     ID                                Owner  ... Owner_Code  Year
255        0002D0041200                         JACKSON RUTH  ...    Regular  1976
716    0029C00317000100                    SAVEL CATHERINE J  ...    Regular  1994
1957       0049N0013500                      ROGERS ROBERT M  ...    Regular  1990
2011       0051L0001500    SUTTON JAMES F JR & SHIRLEY A (W)  ...    Regular  1975
2296       0026H0011300                       PEGNATO ISABEL  ...    Regular  1993
3216       0081D0010400  THOMAS DARLENE L & WILLIAM C THOMAS  ...    Regular  1999
3252       0081F0023000        BALOGH JOHN F JR & MARY L (W)  ...    Regular  1983
3265       0081G0022800   WILBORN JERROLD V & PATRICIA R (W)  ...    Regular  1977
3355       0082E0017200     GITELMAN WILLIAM B & MARIA A (W)  ...    Regular  1999
3597       0121P0003400                    CHAVEZ PATRICIA A  ...    Regular  1991
3769       0083B0007200       PUCCIARELLI MICHAEL  & FELICIA  ...    Regular  1966
4058       0124E0015700                        BALLOU GENEVA  ...    Regular  1985
7824       0087D0017200          KAMINS STANLEY D & LORRAINE  ...    Regular  1966
8338       0054M0005100                        HAMOVITZ NEIL  ...    Regular  1985
8351       0054M0028500     KIERNAN ROBERT J JR & MARY M (W)  ...    Regular  1992
8492       0055F0016500        OSWALD LINDA  & TERESA OSWALD  ...    Regular  1996
8504       0055G0008300                   SCUILLI FAUSTINA M  ...    Regular  1991
8560       0055M0005000                     NAGY ELIZABETH M  ...    Regular  1980
8582       0055R0001300     HEBERLING PAUL VANCE & THERESA L  ...    Regular  1971
9169       0087N0026900       DEVER REGINA H & WILLIAM DEVER  ...    Regular  1998
9171       0087N0027900        YELLIN LOUIS A & ELAINE A (W)  ...    Regular  1995
9504       0013H0027200            SMITH RORY  & DEREK SMITH  ...    Regular  1992
10429      0004H0003300      STARR KATHERINE L MITCHELL ETAL  ...    Regular  1991
10450      0004R0028000                         KOUKNAS PAUL  ...    Regular  1993
12095      0034F0043600  SIROKY GEORGENE M & MARCIA L CHORBA  ...    Regular  1987
14346      0071G0019400  FLOURNOY MICHAEL E & VIRGINIA N (W)  ...    Regular  1971
14766      0022P0003400        LOWMAN LEONARD D & LOIS D (W)  ...    Regular  1997
15181  0024N00286000100                       MCARDLE PAUL J  ...    Regular  1998
18664      0019J0019900            PERRINO JOHN M & MARY ANN  ...    Regular  1959
18862      0040L0018100    GREJDA RICHARD  & BARBARA ANN (W)  ...    Regular  1978
20505      0091R0005000                     WOLOWSKI ROBERTA  ...    Regular  1993
20934      0061M0033600                           DRAWN MARY  ...    Regular  1989
21073      0096H0000900                        BUDNICK KERRI  ...    Regular  1999

[33 rows x 15 columns]

In [11]:
res_only = results_sub[results_sub.Owner_Code != 'Corporation']
res_only.shape

(33, 15)

In [12]:
res_only = res_only[res_only.Year > 1900]
print(res_only.shape)
res_only

(33, 15)

                     ID                                Owner  ... Owner_Code  Year
255        0002D0041200                         JACKSON RUTH  ...    Regular  1976
716    0029C00317000100                    SAVEL CATHERINE J  ...    Regular  1994
1957       0049N0013500                      ROGERS ROBERT M  ...    Regular  1990
2011       0051L0001500    SUTTON JAMES F JR & SHIRLEY A (W)  ...    Regular  1975
2296       0026H0011300                       PEGNATO ISABEL  ...    Regular  1993
3216       0081D0010400  THOMAS DARLENE L & WILLIAM C THOMAS  ...    Regular  1999
3252       0081F0023000        BALOGH JOHN F JR & MARY L (W)  ...    Regular  1983
3265       0081G0022800   WILBORN JERROLD V & PATRICIA R (W)  ...    Regular  1977
3355       0082E0017200     GITELMAN WILLIAM B & MARIA A (W)  ...    Regular  1999
3597       0121P0003400                    CHAVEZ PATRICIA A  ...    Regular  1991
3769       0083B0007200       PUCCIARELLI MICHAEL  & FELICIA  ...    Regular  1966
4058       0124E0015700                        BALLOU GENEVA  ...    Regular  1985
7824       0087D0017200          KAMINS STANLEY D & LORRAINE  ...    Regular  1966
8338       0054M0005100                        HAMOVITZ NEIL  ...    Regular  1985
8351       0054M0028500     KIERNAN ROBERT J JR & MARY M (W)  ...    Regular  1992
8492       0055F0016500        OSWALD LINDA  & TERESA OSWALD  ...    Regular  1996
8504       0055G0008300                   SCUILLI FAUSTINA M  ...    Regular  1991
8560       0055M0005000                     NAGY ELIZABETH M  ...    Regular  1980
8582       0055R0001300     HEBERLING PAUL VANCE & THERESA L  ...    Regular  1971
9169       0087N0026900       DEVER REGINA H & WILLIAM DEVER  ...    Regular  1998
9171       0087N0027900        YELLIN LOUIS A & ELAINE A (W)  ...    Regular  1995
9504       0013H0027200            SMITH RORY  & DEREK SMITH  ...    Regular  1992
10429      0004H0003300      STARR KATHERINE L MITCHELL ETAL  ...    Regular  1991
10450      0004R0028000                         KOUKNAS PAUL  ...    Regular  1993
12095      0034F0043600  SIROKY GEORGENE M & MARCIA L CHORBA  ...    Regular  1987
14346      0071G0019400  FLOURNOY MICHAEL E & VIRGINIA N (W)  ...    Regular  1971
14766      0022P0003400        LOWMAN LEONARD D & LOIS D (W)  ...    Regular  1997
15181  0024N00286000100                       MCARDLE PAUL J  ...    Regular  1998
18664      0019J0019900            PERRINO JOHN M & MARY ANN  ...    Regular  1959
18862      0040L0018100    GREJDA RICHARD  & BARBARA ANN (W)  ...    Regular  1978
20505      0091R0005000                     WOLOWSKI ROBERTA  ...    Regular  1993
20934      0061M0033600                           DRAWN MARY  ...    Regular  1989
21073      0096H0000900                        BUDNICK KERRI  ...    Regular  1999

[33 rows x 15 columns]

In [17]:
res_only.to_csv('small_mkt_value2000.csv',index=False)

In [13]:
residential = res_only[res_only.Type == 'Residential']
residential.shape

(32, 15)

In [14]:
#residential.to_csv('residential2000.csv',index=False)

In [15]:
commercial = res_only[res_only.Type == 'Commercial']
commercial.shape

(1, 15)

In [16]:
#commercial.to_csv('commercial2000.csv',index=False)